@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:wght@200&display=swap");

.container {
  height: 100vh;
  width: 100vw;
  background-image: url("../../../public/livro-de-leitura-de-mulher-fria-de-tiro-medio-modified.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.conteudo {
  margin-bottom: -5rem;
  height: 70vh;
  width: 80vw;
  background: rgba(0, 0, 0, 0.6);
  display: flex;

  align-items: center;
  border-radius: 1rem;
  flex-direction: column;
}

.Titulo {
  display: flex;
  flex-direction: row;
  margin-top: -6rem;
}
.nome {
  color: #f1ebe2;
  font-family: "Gloock", serif;
}

.logo {
  height: 14vh;
  margin-top: -0.5rem;
}

h2 {
  color: #f1ebe2;
  font-family: "Poppins", sans-serif;
}
p {
  color: #f1ebe2;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

.botoes-acesso {
  display: flex;
  flex-direction: row;
  height: 25vh;
  gap: 0.5rem;
}

.cadastre-se {
  padding-top: 3rem;
}

.aqui {
  padding-top: 4rem;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: gray;
  text-decoration: underline;
}
.botao-login {
margin-bottom: 4rem;
  border-radius: 2rem;
  height: 8vh;
  width: 25vw;
  border: 1px solid #f1ebe2;
  color: #f1ebe2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
}
